.header_container {
-fx-background-color: #7286D3;
}

.header_container Text {
-fx-alignment: left-center;
-fx-font-size: 2em;
-fx-font-family: verdana;
-fx-font-weight: 700;
-fx-fill: #fff2f2;
-fx-effect: dropshadow(three-pass-box, #AAAAAA, 5,0,0,4);
}

.header_container Button {
-fx-background-color: #7286D3;
-fx-font-size: 2em;
-fx-font-family: verdana;
-fx-font-weight: 700;
-fx-text-fill: #fff2f2;
}

.header_container Button:hover {
-fx-cursor: hand;
}