.main_container Label {
-fx-pref-width: 500;
-fx-text-alignment: center;
-fx-wrap-text: true;
-fx-font-size: 1.4em;
-fx-font-family: verdana;
-fx-text-fill: #7286D3;
-fx-padding: 10;
-fx-effect: dropshadow(three-pass-box, #CCCCCC, 5, 0, 0, 4);
}